{
  "sources": [
    "https://example.com/blocklist-1.txt",
    "https://example.com/blocklist-2.txt"
  ],
  "files": [
    "/path/to/local/blocklist.txt"
  ],
  "upstreamDNS": [
    "https://dns.google/dns-query",
    "tls://1dot1dot1dot1.cloudflare-dns.com:853"
  ],
  "DNS": [
    "1.1.1.1",
    "1.0.0.1"
  ],
  "blockAddress": [
    "google.com",
    "1.2.3.4"
  ],
  "torEntryIPs": [
    "152.53.144.50",
    "204.137.14.106"
  ]
}
