{
  "sources": [
    "https://example.com/blocklist-1.txt",
    "https://example.com/blocklist-2.txt"
  ],
  "files": [
    "/path/to/local/blocklist.txt"
  ],
  "upstreamDNS": [
    "8.8.8.8:53",
    "1.1.1.1:53"
  ],
  "torEntryIPs": [
    "152.53.144.50",
    "204.137.14.106"
  ]
}
